h1{
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color:#084726;
  margin: 0em;
  padding: 1em;
  padding-bottom: 0em;
  color: white;
}

body{
  margin: 0em;
  padding: 0em;
  background-color:#084726;
  font-family: 'Roboto', sans-serif;
}

.modeButton{
  background-color: #e1c6f5;
  border-radius: 2em;
  color: black;
  border: none;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.modeButton.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

#modeWrapper{
  width: 50%;
  justify-content: space-around;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-left: 17em;
  padding: 1em;
}

#selectMode{
  color: white;
}

#descProgWrapper{
  display: flex;
  flex-direction: row;
}

#desc{
  background-color: #ccebcd;
  width: 20%;
  height: 100vh;
  padding: 2em;
}

#prog{
  padding: 2em;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  justify-content: left;
}

.blackButton{
  background-color: black;
  color: white;
  padding: 1em;
  width: 15%;
  border: none;
  border-radius: 2em;
  font-weight: bold;
}

#timerDuration{
  width: 10%;
}

.radioWrapper{
  padding: 1em;
  display: flex;
  flex-direction: column;
  
}


#chimeWrapper{
  padding: 1em;
  width: 10em;
}

#chimeFreq{
  width: 5em;
}

